<%- include('partials/header') %>
    <main>
        <div class="care-container">
            <h2>Cat Care Instructions</h2>
            <p>Here are some general guidelines to care for your cat:</p>
            <ul>
                <li>Groom your cat regularly</li>
                <li>Provide fresh water 24/7</li>
                <li>Make sure your cat always has a place to potty</li>
                <li>Keep the litter box clean</li>
                <li>Train your cat to use a scratching post</li>
                <li>Use a cat carrier in the car</li>
                <li>Maintain a healthy diet and weight</li>
                <li>Consider spaying or neutering your cat</li>
                <li>Choose a cat-friendly vet</li>
                <li>Schedule regular veterinary visits</li>
            </ul>
            <p class="source-credit">
                Source: [Cats 101: Basic Health & Care Tips to Keep Your Cat Healthy]
                <a href="https://www.petsafe.com/blog/cats-101-basic-health-care-tips-to-keep-your-cat-healthy/"
                    target="_blank">source link</a>
            </p>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>