<%- include('partials/header') %>
    <main>
        <div class="contact-container">
            <h2>Contact Us</h2>
            <dl class="contact-info">
                <dt>Name:</dt>
                <dd>Mingming Zhang</dd>

                <dt>Student ID</dt>
                <dd>40258080</dd>

                <dt>Email:</dt>
                <dd>zh_mingm@live.concordia.ca</dd>

            </dl>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>