<%- include('partials/header') %>
    <main>
        <div class="care-container">
            <h2>Dog Care Instructions</h2>
            <p>Here are some general guidelines to care for your dog:</p>
            <ul>
                <li>Meet Your Dog’s Basic Needs</li>
                <li>Monitor food consumption</li>
                <li>Provide sufficient water throughout the day</li>
                <li>Regularly groom your dog</li>
                <li>Maintain proper vaccinations</li>
                <li>Maintain Your Dog’s Health with Routine Care</li>
                <li>Stimulate Your Dog’s Brain and Body</li>
                <li>Keep Your Pet Safe</li>
                <li>Train and Bond with Your Dog to Strengthen Your Relationship</li>
                <li>Plan for Unexpected Vet Bills with Pet Insurance</li>
            </ul>
            <p class="source-credit">
                Source: [25 Dog Care Tips For Pet Parents]
                <a href="https://www.forbes.com/advisor/pet-insurance/pet-care/dog-care-tips/" target="_blank">source
                    link</a>
            </p>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>