<%- include('partials/header') %>
    <main>
        <div class="form-container">
            <!-- Signin Button -->
            <h2>Sign In</h2>
            <form action="/sign-in" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Sign In</button>
            </form>
            <p>Don't have an account? <a href="/create-account">Create an account here</a>.</p>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>