<%- include('partials/header') %>
    <main>
        <div class="form-container">
            <!-- Signout Button -->
            <h2>Sign out</h2>
            <form action="/sign-out" method="post">
                <img id="home-image" src="/images/cute_pets.jpg" alt="home-image">
                <button type="submit">Sign Out</button>
            </form>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>