<%- include('partials/header') %>
    <main>
        <div class="care-container">
            <h2>Welcome to HAPPY PAWS!</h2>
            <img id="home-image" src="/images/cute_pets.jpg" alt="home-image">
            <div id="img-src"> Image source : Pinterest.ca</div>
            <p>Welcome to HAPPY PAWS Pet Adoption, where every pet is treated like family. Founded in 2024 by a
                group of animal enthusiasts and welfare advocates, our organization has become a beacon of hope
                for
                pets awaiting their forever homes. We are a non-profit, community-driven group fueled by the
                passion
                for making a difference in the lives of animals and the people who love them.</p>
            <br>
            <p> Our facility is a home-away-from-home for pets in transition, and our dedicated team works
                tirelessly to provide the care, love, and attention that our furry friends need. From the moment
                they arrive, each
                pet is given a comprehensive health check, rehabilitated both physically and emotionally, and
                cared
                for
                by our staff and volunteers until the perfect match is found.</p>
            <br>
            <p>Beyond adoptions, we offer a range of services to our community, including educational programs
                on
                responsible pet ownership, spaying/neutering campaigns to help control the pet population, and a
                pet
                food pantry to assist pet owners facing economic hardships.</p>
            <br>
            <p>At HAPPY PAWS Pet Adoption, we believe that by working together, we can create a world where
                every
                pet is safe, respected, and loved. We invite you to join us on this journey, whether it's by
                adopting, volunteering, donating, or simply spreading the word. Together, we can make a lasting
                impact on the
                lives of countless pets and people.</p>
        </div>
    </main>
    </div>
    <%- include('partials/footer') %>