<footer>
    <p>© [2024] HAPPY PAWS - Pet Adoption Service. All Rights Reserved.</p>
    <a href="privacy" class="privacy-link">Privacy/Disclaimer Statement</a>
    <p>Your information will not be sold or misused. The website builder is not responsible for any incorrect
        information posted by a pet owner.</p>
</footer>
<script src="/js/Q7.js"></script>
</body>

</html>